.footer {
	background-color: #494949;
	&__logo {}
	&__terms {}
	&__help {}
	&__subscribe {}
	&__social {}
}
.help {
	&__title {}
	&__list {}
}
.subscribe {
	&__title {}
	&__container {}
	&__input {}
	&__submit {}
}
.social {
	fill: #ffffff;
	width: 34px;
	height: 34px;
	&__inst {}
	&__fb {}
	&__tw {}
}
