.footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #494949;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  flex-wrap: wrap;
  @media (max-width: 770px) {
    justify-content: flex-start;
    align-items: flex-start;
  }

  a {
    color: #ffffff;
    transition: all 0.1s ease 0.1s;

    &:hover {
      color: #b2bbc4;
    }
  }

  &__left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__logo {
    //max-width: 120px;
    margin-right: 30px;
    & img {
      width: 67px;
    }

    @media (max-width: 770px) {
      //flex: 1 0 50%;
      min-width: 50%;
      align-self: flex-start;
      order: 1;
    }

  }

  //@media (max-width: 380px) {
  //  font-size: 14px;
  //  line-height: 18px;
  //  white-space: normal;
  //  overflow-wrap: normal;
  //}

  &__terms {
    max-width: 120px;
    @media (max-width: 770px) {
      //flex: 1 1 50%;
      width: 50%;
      align-self: flex-start;
      margin-top: -20px;
      //max-width: 80px;
      order: 3;
    }
  }

  &__help {
    margin: 0 2% 0 0;
    @media (max-width: 770px) {
      //flex: 1 1 50%;
      min-width: 50%;
      margin: 0;
      order: 2;
    }
  }

  &__subscribe {
    flex: 1 1 auto;
    //min-width: 200px;
    //max-width: 270px;
    margin-right: 4%;

    @media (max-width: 770px) {
      //flex: 1 1 100%;
      margin-top: 32px;
      margin-bottom: 72px;
      align-self: center;
      width: 100%;
      order: 5;
    }
  }

  &__social {
    @media (max-width: 770px) {
      //flex: 0 0 50%;
      max-width: 50%;

      order: 4;
    }
  }
}

.terms {
}

.help {
  max-width: 165px;

  &__title {
    color: #b2bbc4;
    text-transform: uppercase;
    font-size: 14px;
  }

  &__list {

  }
}

.subscribe {

  &__title {
    color: #b2bbc4;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__form {
    border: 1px solid #b2bbc4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    line-height: 0;
  }

  &__input {
    flex: 1 1 auto;
    margin: 15px 0 15px 15px;

    input {
      width: 100%;
      font-size: 16px;
      background-color: #494949;
      font-family: Karla;
      color: #b2bbc4;
    }
  }

  &__submit {
    margin: auto 15px;
  }
}

.social {
  display: flex;
  font-size: 0;
  margin: 15px 0;

  &__link {
    height: 34px;
    width: 34px;
    fill: #ffffff;
    margin: 0 7.5px;
    transition: all 0.3s ease 0.3s;

    &:first-child {
      margin-left: -7.5px;
    }

    &:hover {
      fill: #b2bbc4;
    }
  }
}
