# Created by .ignore support plugin (hsz.mobi)
Будет удалено .idea/$CACHE_FILE$
Будет удалено .idea/.gitignore
Будет удалено .idea/inspectionProfiles/
Будет удалено .idea/misc.xml
Будет удалено .idea/modules.xml
Будет удалено .idea/restockchicago.iml
Будет удалено .idea/vcs.xml
Будет удалено server_api/node_modules/
Будет удалено .idea/jsLibraryMappings.xml
