
.header {

  // .header__navbar
  &__navbar {
    //margin-top: 3px;
    padding: 10px 35px 10px 35px;
    //height: 48px;
    background-color: #fdfdfd;
    box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.07);
  }
}

.navbar {
  display: flex;
  //justify-content:flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  // .navbar__menu-list
  &__menu-list {
    flex: 1 1 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 5%;
    li {
      display: inline-block;
    }

    a {
      color: #b2bbc4;
      transition: all 0.1s ease 0.1s;
      text-transform: uppercase;
      tab-size: 16px;

      &:hover {
        color: #494949;
      }
    }

    img {
      height: 25px;

      &:hover {
        //color: black;
      }
    }
  }

  // .navbar__menu-search
  &__menu-search {
    input[type=text] {
      position: absolute;
      top: 55px;
      right: 2%;
      color: white;
      box-sizing: border-box;
      background-image: url('../img/ei-search.svg');
      background-position: 100% 50%;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      transition: width 0.4s ease-in-out;
      cursor: pointer;
    }

    input[type=text]:focus {
      width: 30%;
      background-image: url('../img/close.svg');
      background-position: 10px 50%;
      background-color: #494949;
      color: white;
      border: 2px solid #ccc;
      padding-left: 50px;
      cursor: text;
    }
  }

  &__jordan {
    a {
      background-repeat: no-repeat;
      display: inline-block;
      width: 26px;
      height: 25px;
      background-image: url("../img/jumpman.svg");
      background-size: 35px 24px;
      cursor: pointer;
      background-position: center;
      transition: all 0.1s ease 0.1s;

      &:hover {
        background-image: url("../img/jumpman_hover.svg");
      }
    }
  }

  &__nike {
    a {
      background-repeat: no-repeat;
      display: inline-block;
      width: 68px;
      height: 25px;
      background-image: url("../img/nike_sport.svg");
      background-size: 35px 24px;
      cursor: pointer;
      background-position: center;
      transition: all 0.1s ease 0.1s;

      &:hover {
        background-image: url("../img/nike_sport_hover.svg");
      }
    }
  }

  &__adidas {
    a {
      background-repeat: no-repeat;
      display: inline-block;
      width: 40px;
      height: 25px;
      background-image: url("../img/adidas.svg");
      background-size: 35px 24px;
      cursor: pointer;
      background-position: center;
      transition: all 0.1s ease 0.1s;

      &:hover {
        background-image: url("../img/adidas_hover.svg");
      }
    }
  }
}
