.header {

  // .header__navbar
  &__navbar {
    //margin-top: 3px;
    padding: 10px 35px 10px 35px;
    //height: 48px;
    background-color: #fdfdfd;
    box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.07);
  }
}

.navbar {
  display: flex;
  //justify-content:flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  // .navbar__menu-list
  &__menu-list {
    flex: 1 1 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;

    li {
      display: inline-block;
    }

    a {
      color: #b2bbc4;
      transition: all 0.1s ease 0.1s;
      text-transform: uppercase;
      tab-size: 16px;

      &:hover {
        color: #494949;
      }
    }

    img {
      height: 25px;

      &:hover {
        //color: black;
      }
    }
  }

  // .navbar__menu-search
  &__menu-search {
    margin-left: 55px;

    img {
      height: 25px;
    }
  }

  &__jordan {
    a {
      background-repeat: no-repeat;
      display: inline-block;
      width: 26px;
      height: 25px;
      background-image: url("../img/jumpman.svg");
      background-size: 35px 24px;
      cursor: pointer;
      background-position: center;
      transition: all 0.1s ease 0.1s;
      &:hover {
        background-image: url("../img/jumpman_hover.svg");
      }
    }
  }

  &__nike {
    a {
      background-repeat: no-repeat;
      display: inline-block;
      width: 68px;
      height: 25px;
      background-image: url("../img/nike_sport.svg");
      background-size: 35px 24px;
      cursor: pointer;
      background-position: center;
      transition: all 0.1s ease 0.1s;
      &:hover {
        background-image: url("../img/nike_sport_hover.svg");
      }
    }
  }

  &__adidas {
    a {
      background-repeat: no-repeat;
      display: inline-block;
      width: 40px;
      height: 25px;
      background-image: url("../img/adidas.svg");
      background-size: 35px 24px;
      cursor: pointer;
      background-position: center;
      transition: all 0.1s ease 0.1s;

      &:hover {
        background-image: url("../img/adidas_hover.svg");
      }
    }
  }
}
