.header {
  &__top-bar {
    &_burger{
      align-self: center;
      display: block;
      position: relative;
      width: 40px;
      height: 40px;

      & span {
        position: absolute;
        top: 17px;
        width: 100%;
        height: 6px;
        background-color: #b2bbc4;
        transition: all 0.3s ease 0s;
      }

      &:before,
      &:after {
        content: "";
        background-color: #b2bbc4;
        position: absolute;
        left: 0;
        width: 100%;
        height: 6px;
        transition: all 0.3s ease 0s;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }

      &.active span {
        transform: scale(0);
      }

      &.active:before {
        transform: rotate(45deg);
        top: 17px;

      }

      &.active:after {
        transform: rotate(-45deg);
        bottom: 19px;
      }
    }
  }
}

.top-bar {
  background-color: #F7F7F8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 35px;
  &__right {
    display: flex;
    flex-wrap: nowrap;

    &>div:nth-child(1) {
      @media (max-width: 770px) {
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-image: url(../img/user-icon.svg);
        &:hover{
          background-image: url(../img/user-icon-dark.svg);
        }
      }

    }
  }
  &__logo{
    display: flex;
  }
  &__logo img {
    padding-right: 30%;
    height: 30px;
    max-width: 300px;
    @media (max-width: 770px) {
      height: 95px;
    }
    @media (max-width: 500px) {
      padding-right: 20%;

    }
  }
  a {
    color: #494949;
    font-size: 16px;
    font-style: normal;
    margin: 0 35px 0 0;
    &:hover {
      text-decoration: underline;
    }
    @media (max-width: 770px) {
      font-size: 20px;

    }
      @media (max-width: 500px) {
      margin: 0 3% 0 0;

    }
  }

  &__auth {
    &>a:nth-child(2){
      @media (max-width: 770px) {
        display: none;
      }
    }
  }

  &__cart {
    @media (max-width: 770px) {
      align-self: center;
      padding-left: 30%;
    }
    @media (max-width: 600px) {
      padding-left: 20%;
    }

  }
}
