.awssld {
  &__bullets {
    bottom: 0 !important;
    z-index: 2;
    @media (max-width: 770px) {
      bottom: -30px !important;
    }
  }

  &__bullets--active {
    transform: scale(1.2) !important;
  }

  &__content {
    background-image: url(./img/r-background.svg);
    border: none;
    background-size: 56%;
    background-repeat: no-repeat;
    background-position: -5% 30%;
    margin-bottom: 0;
    width: 99.8%;
    background-color: #ffffff;
  }

  &__wrapper {
    max-height: 650px;
  }
}

.slide-button {
  width: 159px;
  height: 50px;
  border: 1px solid #b2bbc4;
  color: #b2bbc4;
  display: inline-block;
  text-align: center;
  //transition: all 0.1s ease 0.1s;
  &:hover {
    background-color: #494949;
    color: #ffffff;
  }
  @media (max-width: 770px) {
    width: 100%
  }
}

.slide {
  img {
    width: 100%;
  }

  margin-top: 95px;
  position: relative;
  font-size: 46px;
  text-transform: uppercase;
  line-height: 56px;
  color: #494949;

  @media (max-width: 770px) {
    margin-top: 114px;
  }
  @media (max-width: 580px) {
    margin-top: 68px;
  }
  a {
    font-size: 16px;
    line-height: 48px;
    color: #494949;
  }

  // .slide__1
  &__1 {
    display: flex;
    flex-direction: column;
    @media (max-width: 770px) {
      justify-content: space-between;
    }
  }

  // .slide__1-text
  &__1-text {
    margin: auto;
    text-align: center;
    max-width: 300px;
    @media (max-width: 770px) {
      order: 1;
    }
  }

  // .slide__1-button
  &__1-button {
    //text-align: center;
   margin: 20px 0;
    //padding: 30px;
      align-self: center;
    @media (max-width: 770px) {
      //align-self: flex-end;
      max-width: 90%;

      order: 3;
    }
  }

  // .slide__1-img
  &__1-img {
    @media (max-width: 770px) {
      order: 2;
    }
  }

  // .slide__2
  &__2 {
  }

  // .slide__2-text
  &__2-text {
    position: absolute;
    //margin-bottom: 0.7em;
    top: 20%;
    left: 100px;
    max-width: 360px;
  }

  // .slide__2-button
  &__2-button {
  }

  // .slide__2-img
  &__2-img {
  }

  // .slide__3
  &__3 {
  }

  // .slide__3-text
  &__3-text {
    position: absolute;
    //top: 42%;
    //width: 30%;
    //left: 8%
    //
    top: 20%;
    left: 100px;
    max-width: 350px;
  }

  // .slide__3-button
  &__3-button {
  }

  // .slide__3-img
  &__3-img {
  }
}
