.carousel .slide {
  background: #fff;
}

.slide {
  //display: flex;
  //justify-content: space-between;
  //width: 100% !important;
  margin-top: 100px;
  padding-top: 2%;
  font-size: 46px;
  text-transform: uppercase;
  line-height: 56px;
  color: #494949;

  a {
    display: block;
    //display: inline-block;
    font-size: 16px;
    line-height: 48px;
    color: #b2bbc4;
    width: 159px;
    height: 50px;
    border: 1px solid #b2bbc4;
    text-align: center;
    max-width: 100%;
    &:hover {
      background-color: #494949;
      color: #ffffff;
    }

    @media (max-width: 770px) {
      width: 100%;
      max-width: 90%;
    }
  }
  img {
    //align-self: flex-end;
    width: 100%;
  }

  // .slide__1
  &__1 {
    width: 100%;
  }

  // .slide__1-text
  &__1-text {
  }

  // .slide__1-button
  &__1-button {
  }

  // .slide__1-img
  &__1-img {
  }

  // .slide__2
  &__2 {
  }

  // .slide__2-text
  &__2-text {
  }

  // .slide__2-button
  &__2-button {
  }

  // .slide__2-img
  &__2-img {
  }

  // .slide__3
  &__3 {
  }

  // .slide__3-text
  &__3-text {
  }

  // .slide__3-button
  &__3-button {
  }

  // .slide__3-img
  &__3-img {
  }
}

.slide-button {
}
