
.search {
  &-wrapper {
    position: relative;

    width: 82px;
    height: 40px;

    &:after {
      content: "";
      position: absolute;
      right: 33px;
      top: 5px;
      background-image: url('../img/ei-search.svg');
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 40px 40px;
      cursor: pointer;
      display: block;
      width: 50px;
      height: 40px;
      //border:  1px solid #333333;
    }

    @media (max-width: 770px) {
      &:after {
        top: 0;
        background-size: 57px 57px;
      }
    }
    @media (max-width: 580px) {
      &:after {
        background-size: 30px 30px;
      }
    }

    &.open:after {
      background-image: url(../img/ei-search-white.svg);
      transition: all 1s ease;
    }

    @media (max-width: 770px) {
      &.open:after {
        background-repeat: no-repeat;
        background-image: url('../img/ei-search-dark.svg');
      }

    }
    transition: none;
    &.open {

    }
  }

  &-box {
    width: 1px;

    input[type=text] {
      width: 1px;
      height: 1px;

      font-size: 1px;
      //font-size: 24px;
      opacity: 0;
      transition: none;

      @media (max-width: 770px) {
        transition: none;
      }
    }
    @media (max-width: 770px) {
      z-index: 3;
    }
    input[type=text]:focus {
      display: inline-block;
      opacity: 1;
      color: #ffffff;
      font-size: 24px;
      height: 98%;
      width: 100%;
      background-color: #494949;
      padding-left: 10px;
      @media (max-width: 770px) {
        //z-index: 3;
        height: 100%;
      }
    }

    &.open {
      position: absolute;
      display: flex;
      width: 650px;
      height: 50px;
      right: 0;
      top: 0;

      background-color: #494949;
      align-items: center;
      padding-left: 10px;

      transition-duration: 1s;

      @media (max-width: 770px) {
        transition: none;
      }
      @media (max-width: 770px) {
        flex-direction: row-reverse;
        height: 100px;
        width: 100vw;
        top: 80px;
        right: -224px;
      }
      @media (max-width: 580px) {
        top: 55px;
        height: 60px;
        right: -155px;
        width: 100vw;
      }
      @media (max-width: 410px) {
        right: -115px;
      }
    }
  }
}

.close {
  height: 1px;
  width: 1px;

  &.open {
    display: block;
    height: 30px;
    width: 30px;
    background-color: #494949;

    //transition-duration: 3s;

    @media (max-width: 770px) {
      transition: none;
      height: 50px;
      width: 50px;
    }
    @media (max-width: 580px) {
      transition: none;
      height: 32px;
      width: 32px;
    }
  }

  /* .close__icon */
  &__icon {
    //position: relative;
    height: 100%;
    width: 100%;

    transition-duration: 3s;

    //border: 1px solid yellow;
  }
}
