
.search {
  &-wrapper {
    position: relative;

    width: 82px;
    height: 40px;

    &:after {
      content: "";
      position: absolute;
      right: 33px;
      top: 5px;
      background-image: url('../img/ei-search.svg');
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 40px 40px;
      cursor: pointer;
      display: block;
      width: 50px;
      height: 40px;
      //border:  1px solid #333333;
    }

    @media (max-width: 770px) {
      &:after {
        top: 0;
        background-size: 57px 57px;
      }
    }
    @media (max-width: 580px) {
      &:after {
        background-size: 30px 30px;
      }
    }

    &.open:after {
      background-image: url(../img/ei-search-white.svg);
      transition: all 1s ease;
    }

    @media (max-width: 770px) {
      &.open:after {
        background-repeat: no-repeat;

        background-image: url('../img/ei-search-dark.svg');
      }

    }
    transition: none;
    &.open {
      //transition-duration: 3s;
      //transition-property: width;
    }
  }

  &-box {
    width: 1px;

    input[type=text] {
      width: 1px;
      height: 1px;

      font-size: 1px;
      //font-size: 24px;
      opacity: 0;
      transition: none;

      @media (max-width: 770px) {
        transition: none;
      }
    }

    input[type=text]:focus {
      //transition-property: background-color;
      //transition-duration: 3s;
      display: inline-block;
      opacity: 1;
      color: #ffffff;
      font-size: 24px;
      height: 98%;
      width: 100%;
      background-color: #494949;
      padding-left: 10px;
      //border: 1px dotted #494949;
      //z-index: 10;
      @media (max-width: 770px) {
        //order: 1;
        height: 99%;
      }
    }

    &.open {
      position: absolute;
      display: flex;
      //font-size: 24px;
      //transition-property: width;
      //border: 1px solid blue;
      width: 650px;
      height: 50px;
      right: 0;
      top: 0;

      background-color: #494949;
      align-items: center;
      padding-left: 10px;

      transition-duration: 1s;

      @media (max-width: 770px) {
        transition: none;
      }
      @media (max-width: 770px) {
        flex-direction: row-reverse;
        height: 80px;
        width: 100vw;
        top: 80px;
        right: -224px;

        //transform: translateX(-50%);
        //left: 50%;

      }
      @media (max-width: 580px) {
        top: 60px;
        right: -195px;
        width: 100vw;
      }

    }
  }
}

.close {
  height: 1px;
  width: 1px;

  //display: none;

  &.open {

    display: block;
    height: 40px;
    width: 40px;
    background-color: #494949;

    //transition-duration: 3s;

    @media (max-width: 770px) {
      transition: none;
      height: 60px;
      width: 60px;
    }
    @media (max-width: 580px) {

      height: 50px;
      width: 50px;
    }
  }

  /* .close__icon */
  &__icon {
    //position: relative;
    height: 100%;
    width: 100%;

    transition-duration: 3s;

    //border: 1px solid yellow;
  }
}
