
.search {
  &-wrapper {
    position: relative;
    height: 40px;
    width: 40px;
    background-position: 100% 50%;
    background-image: url('../img/ei-search.svg');
    background-repeat: no-repeat;

    @media (max-width: 770px) {
      &.open {
        background-image: url('../img/ei-search-dark.svg');
      }
    }

  }

  &-box {
    input[type=text] {
      width: 1px;
      height: 1px;
      opacity: 0;
      transition: background-color 1s linear;
      @media (max-width: 770px) {
        transition: none;
      }

    }

    input[type=text]:focus {
      display: inline-block;
      opacity: 1;
      color: #ffffff;
      font-size: 24px;
      height: 98%;
      width: 100%;
      background-color: #494949;
      padding-left: 10px;
      //border: 1px dotted #494949;
      z-index: 10;
      @media (max-width: 770px) {
        order: 1;
        height: 99%;

      }
    }

    //transition: all 1s ease-in;


    &.open {

      position: absolute;
      display: flex;
      //border: 1px solid blue;
      width: 550px;
      height: 60px;
      right: -35px;
      background-color: #494949;
      top: -10px;
      align-items: center;
      padding-left: 10px;
      @media (max-width: 770px) {
        height: 80px;

        width: 100vw;
        top: 80px;
        right: -220px;
      }
      @media (max-width: 580px) {
        top: 60px;
        right: -105px;
        //left: 0;
        width: 100vw;
        //width: 250px;

      }

    }
  }
}

.close {
  //left: 0;
  //top:0;

  display: none;

  &.open {
    display: block;
    height: 40px;
    width: 40px;
    background-color: #494949;
    @media (max-width: 770px) {
      order: 2;
      height: 60px;
      width: 60px;
    }
    @media (max-width: 580px) {

      height: 50px;
      width: 50px;
    }
  }

  /* .close__icon */
  &__icon {
    //position: relative;
    height: 100%;
    width: 100%;
    //border: 1px solid yellow;
  }
}
