.shop-all-button-with-url {
  display: block;
  //float: none;
  background-image: url(../img/go-forward-right-grey.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 96px center;
  color: #b2bbc4 !important;
  font: 20px/48px Karla, sans-serif !important;

  &:hover {
    background-image: url(../img/go-forward-right.svg);
    color: #494949 !important;;
  }
}